* {
  box-sizing: border-box;
}
body {
  margin: 0;
  text-align: center;
}
html{
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  min-height: 4rem;
  font-weight: bolder;
  background: linear-gradient(180deg, rgba(255,255,255,0.9), rgba(255,255,255,0.9), rgba(255,255,255,0.9), rgba(175,175,175,0.9));
  position: fixed;
  top: 0;
  z-index: 100;
}

.navg a {
  color: #000!important;
  font-family: 'Playfair Display', serif;
  font-size: 1.1rem;
  padding: 5px 15px;
  text-align: center;
  text-transform: uppercase;
  border-radius: 10px;
}

.navg a:hover {
  color: #fff!important;
  text-shadow: 2px 2px 2px #000;
  transition: 0.3s;
}

.logo-img img {
  width: 8rem;
  height: 3.2rem;
  object-fit: cover;
}

/* turno button*/
.turno {
  width: 8rem;
  text-align: center;
  font-size: 0.7rem;
  font-weight: bold;
}
.reserva-turno {
  color: #fff;
  background-color: yellow;
  border-radius: 10px;
  color: #000;
  box-shadow: 1px 1px 2px #000;
}
.reserva-turno:hover {
  color: #fff;
  background-color: #f00;
  box-shadow: 2px 2px 4px #000;
  transition: 0.5s;
}
.turno1-hidden {
  display: none;
}
@media (max-width: 768px) {
  .turno1-hidden {
    display: block;
  }
  .turno2-hidden {
    display: none;
  }
}

/* h1 */
.contenedor {
  position: relative;
  height: 25rem;
  overflow: hidden;
}
.parallax {
  position: absolute;
  width: 100%;
  background-image: url(../img/portada2.jpg);
  background-size: cover;
  background-position: center;
  height: 100vh;
  z-index: -1;
}

.h1-tag {
  margin-top: 7rem;
  margin-bottom: 2rem;
  text-align: center;
  color: #fff;
  text-shadow: 4px 4px 2px #000;
}
.h1-tag h1 {
  font-size: 8rem;
  font-family: 'Ruthie', cursive;
}
.h4-tag {
  margin-top: -20px;
  text-transform: uppercase;
  font-family: 'Big Shoulders Inline Text', cursive;
}
.h4-tag h4{
  margin-top: -10px;
}
/* Separator */
.separator {
  font-size: 0.8rem;
  margin: 3rem 0;
  color: #999;
}
/* Carousel */
.carousel1-img img {
  width: 100%;
  height: 35rem;
  object-fit: cover;
}
@media (max-width: 420px) {
  .carousel1-img img {
    height: 22rem;
  }
}

/* history */
.history {
  width: 30rem;
  min-width: 30vw;
  max-width: 85vw;
}
.headers-h {
  margin: 2rem 0;
  font-family: 'Playfair Display', serif;
  text-shadow: 1px 1px 2px #555;
  display: inline-block;
  position: relative;
  text-align: center;
}
.headers-h::after, .headers-h::before {
  content: '';
  position: absolute;
  width: 4rem;
  height: 1px;
  background-color: currentColor;
  top: 0.6em
}
.headers-h::after {
  right: -5rem;
}
.headers-h::before {
  left: -5rem;
}

/* Services */
.services-container {
  padding: 1rem 0;
  background-color: rgba(200,200,200,0.2);
  box-shadow: 0px 0px 16px #eee;
}
.services-text {
  text-transform: uppercase;
}
.h4-services {
  margin: 1.5rem 0 0.3rem 0;
  font-family: 'Monoton', cursive;
  font-weight: lighter;
}
.img-services {
  width: 15rem;
  height: 20rem;
  object-fit: cover;
  border-radius: 5px;
  border: 2px solid #999;
  margin: 1rem 0;
  box-shadow: 8px 8px 8px #ccc;
  filter: saturate(1.4);
}
.img-services:hover {
  transform: scale(1.05);
  transition: 0.3s;
}
@media (max-width: 420px) {
  .img-services {
    width: 95%;
    height: 28rem;
  }
}

/* Gallery */
.img-gallery {
  object-fit: cover;
}

/* Our Clients */
.our-clients-container {
  background-color: rgba(200,200,200,0.2);
  padding-bottom: 3rem;
  padding-top: 1rem;
  box-shadow: 0px 0px 16px #eee;
}
.carousel-container {
  font-family: 'Old Standard TT', serif;
  width: 75vw;
  height: 20rem;
  background: linear-gradient(180deg, rgba(255,255,255,0.9), rgba(255,255,255,0.9), rgba(255,255,255,0.9), rgba(175,175,175,0.9));
  margin: auto;
  border-radius: 10px;
  box-shadow: 8px 8px 8px #ccc;
}
.carousel-item-clients {
  padding: 1.5rem 0 2.5rem 0;
}
.fa-star {
  color: gold;
  margin: 0.5rem 0.1rem;
  text-shadow: 2px 2px 1px #000;
}
.carousel-item-clients img {
  max-width: 5rem;
  margin: 0.5rem 0 1rem 0;
  border-radius: 50%;
  box-shadow: 4px 4px 4px #999;
}
.carousel-item-clients a {
  text-decoration: none;
  text-shadow: 1px 1px 2px #fff;
  color: #000;
}
.carousel-item-clients p {
  margin: auto;
  max-width: 80%;
}
@media (max-width: 768px){
  .carousel-container {
    width: 100%;
  }
}
.ver-mas {
  color: #000;
  font-weight: bolder;
}
.ver-mas:hover {
  color: #f88;
  border-bottom: 1px solid #000;
}
.fa-quote-left {
  margin-right: 1rem;
}
.fa-quote-right {
  margin-left: 1rem;
}

/* Location */
.map-responsive {
  overflow: hidden;
  padding-bottom: 35%;
  position: relative;
  height: 0;
  border: 2px solid #000;

}
.map-responsive iframe {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

@media (max-width: 420px) {
  .map-responsive {
    padding-bottom: 75%;
  }
}

/* Contact */
.contact-text h5{
  text-align: center;
}
.social {
  color: #000;
  font-size: 2rem;
}
.social:hover {
  box-shadow: 0 5px 2px #000;
}

/* Footer */
.page-footer {
  background-color: #000;
  color: #fff;
}
/* Animated Scroll up */
.animated-scroll-up {
  opacity: 0;
  transition: all 1s;
}

.view-from-above {
  animation: viewFromAbove 0.5s;
}

@keyframes viewFromAbove{
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Animated Scroll right */
.animated-scroll-right {
  opacity: 0;
  transition: all 1s;
}

.view-from-right {
  animation: viewFromRight 0.5s;
}
@keyframes viewFromRight {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Whatsapp Button */
.wsp-title {
  position: fixed;
  right: 6rem;
  bottom: 2rem;
  color: #fff;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #000;
  z-index: 100;
}
.btn-wsp {
  position: fixed;
  width: 3rem;
  height: 3rem;
  line-height: 2.9rem;
  bottom: 2rem;
  right: 2rem;
  background: #00FF07;
  color: #fff;
  border-radius: 3rem;
  text-align: center;
  font-size: 2rem;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
  z-index: 100;
}
.btn-wsp:hover {
  text-decoration: none;
  color: #00FF07;
  background: #fff;
  font-size: 3rem;
  transition: 0.5s;
}
