html{
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  min-height: 3rem;
  background-color: #555;
  position: fixed;
  top: 0;
  z-index: 100;
}

.navg a {
  color: #fff!important;
  font-family: sans-serif;
  font-size: 1.1rem;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
}

.navg a:hover {
  background-color: #000;
  border-radius: 10px;
}

.logo-img img {
  width: 8rem;
  height: 2rem;
}

.turno {
  width: 8rem;
  text-align: center;
  font-size: 0.7rem;
  font-weight: bold;
}
.reserva-turno {
  color: #fff;
  background-color: #000;
  border-radius: 10px;
}
.reserva-turno:hover {
  color: #000;
  background-color: yellow;
  box-shadow: 2px 2px 4px #000;
  transition: 0.5s;
}

.h1-tag {
  margin-top: 5rem;
  margin-bottom: 2rem;
  text-align: center;
}
.h1-tag h1 {
  font-size: 7rem;
}
.h1-tag h4 {
  margin-top: -20px;
  text-transform: uppercase;
}
/* Separator */
.separator {
  font-size: 0.8rem;
  margin: 3rem 0;
  color: #999;
}
/* Carousel */
.carousel-inner img {
  width: 100%;
  height: 32rem;
  object-fit: cover;
}

/* history */
.history {
  width: 30rem;
  min-width: 30vw;
  max-width: 85vw;
}
.headers-h {
  margin: 2rem 0;
}

/* Services */
.img-services {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  margin: 1rem 0;
}
@media (max-width: 420px) {
  .img-services {
    width: 95%;
    height: auto;
  }
}

/* Gallery */
.img-gallery {
  object-fit: cover;
}

/* Our Clients */
.carousel-container {
  width: 75vw;
  height: 20rem;
  margin: auto;
  background-color: #ddd;
  color: #fff;
  border-radius: 10px;
  text-shadow: 1px 1px 1px #000;
  box-shadow: 4px 4px 8px #ddd;

}
.carousel-item-clients {
  padding: 1.5rem 0 2.5rem 0;
}
.fa-star {
  color: gold;
  margin: 0.5rem 0.1rem;
}
.carousel-item-clients img {
  max-width: 5rem;
  margin: 1rem 0;
}
.carousel-item-clients a {
  text-decoration: none;
  color: #fff;
}
.carousel-item-clients p {
  margin: auto;
  max-width: 80%;
}
@media (max-width: 768px){
  .carousel-container {
    width: 100%;
  }
}
.ver-mas {
  color: #000;
}
.ver-mas:hover {
  color: #888;
  border-bottom: 1px solid #fff;
}
.fa-quote-left {
  margin-right: 1rem;
}
.fa-quote-right {
  margin-left: 1rem;
}

/* Location */
.location-container {
  margin-bottom: 2rem;
}
.location-text h4 {
  margin-top: 2rem;
}
.location-text h5{
  margin: 3rem 0;
}
.location-icon {
  margin-right: 1rem;
  font-size: 2rem;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 35%;
  position: relative;
  height: 0;
}
.map-responsive iframe {
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  position: absolute;
}

@media (max-width: 768px) {
  .location-text {
    text-align: center;
  }
}
@media (max-width: 420px) {
  .map-responsive {
    padding-bottom: 75%;
  }
}

/* Footer */
.page-footer {
  background-color: #555;
  color: #fff;
}
.social {
  color: #fff;
  font-size: 2rem;
}
.social:hover {
  box-shadow: 0 5px 2px #000;
}

/* Animated Scroll up */
.animated-scroll-up {
  opacity: 0;
  transition: all 1s;
}

.view-from-above {
  animation: viewFromAbove 0.5s;
}

@keyframes viewFromAbove{
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Animated Scroll right */
.animated-scroll-right {
  opacity: 0;
  transition: all 1s;
}

.view-from-right {
  animation: viewFromRight 0.5s;
}
@keyframes viewFromRight {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}

/* Whatsapp Button */
.wsp-title {
  position: fixed;
  right: 6rem;
  bottom: 2rem;
  color: #fff;
  font-size: 1.2rem;
  text-shadow: 1px 1px 1px #000;
  z-index: 100;
}
.btn-wsp {
  position: fixed;
  width: 3rem;
  height: 3rem;
  line-height: 2.9rem;
  bottom: 2rem;
  right: 2rem;
  background: #00FF07;
  color: #fff;
  border-radius: 3rem;
  text-align: center;
  font-size: 2rem;
  box-shadow: 0px 2px 10px rgba(0,0,0,0.4);
  z-index: 100;
}
.btn-wsp:hover {
  text-decoration: none;
  color: #00FF07;
  background: #fff;
  font-size: 3rem;
  transition: 0.5s;
}
