html{
  scroll-behavior: smooth;
}

.header {
  width: 100%;
  min-height: 4rem;
  background-color: #555;
  position: fixed;
  top: 0;
  z-index: 100;
}

.img-logo {
  width: 8rem;
  height: 2rem;
}

.navg a {
  color: #fff!important;
  font-family: sans-serif;
  font-size: 1.1rem;
  padding: 10px 15px;
  text-align: center;
  text-transform: uppercase;
}

.navg a:hover {
  background-color: #000;
  border-radius: 10px;
}

.social {
  color: #fff;
  font-size: 2rem;
}
.social:hover {
  box-shadow: 0 5px 2px #000;
}

.h1-tag {
  margin-top: 5rem;
  text-align: center;
}
/* Separator */
.separator {
  font-size: 0.8rem;
  margin: 3rem 0;
  color: #999;
}
/* Carousel */
.carousel-inner img {
    width: 100%;
    max-height: 30rem;
    object-fit: cover;
}

/* history */
.history {
  width: 30rem;
  min-width: 30vw;
  max-width: 85vw;
}
.headers-h {
  margin: 2rem 0;
}

/* Services */
.img-services {
  width: 15rem;
  height: 15rem;
  object-fit: cover;
  margin: 1rem 0;
}
@media (max-width: 420px) {
  .img-services {
    width: 95%;
    height: auto;
  }
}

/* Gallery */
.img-gallery {
  object-fit: cover;
}

/* Our Clients */
.carousel-container {
  width: 75vw;
  height: 20rem;
  margin: auto;
  background-color: #ddd;
  color: #fff;
  border-radius: 10px;
  text-shadow: 1px 1px 1px #000;
  box-shadow: 4px 4px 8px #ddd;

}
.carousel-item-clients {
  padding: 1.5rem 0 2.5rem 0;
}
.fa-star {
  color: gold;
  margin: 0.5rem 0.1rem;
}
.carousel-item-clients img {
  max-width: 5rem;
  margin: 1rem 0;
}
.carousel-item-clients a {
  text-decoration: none;
  color: #fff;
}
.carousel-item-clients p {
  margin: auto;
  max-width: 80%;
}
@media (max-width: 768px){
  .carousel-container {
    width: 100%;
  }
}
.ver-mas {
  color: #000;
}
.ver-mas:hover {
  color: #888;
  border-bottom: 1px solid #fff;
}
.fa-quote-left {
  margin-right: 1rem;
}
.fa-quote-right {
  margin-left: 1rem;
}

/* Location */
.location-text h4 {
  margin-top: 2rem;
}
.location-text h5{
  margin: 3rem 0;
}
.location-icon {
  margin-right: 1rem;
  font-size: 2rem;
}
@media (max-width: 768px) {
  .location-text {
    text-align: center;
  }
  .iframe-map {
    padding: 0;
    text-align: center;
  }
}

/* Footer */
.page-footer {
  background-color: #555;
  color: #fff;
}

/* Animated Scroll up */
.animated-scroll-up {
  opacity: 0;
  transition: all 1s;
}

.view-from-above {
  animation: viewFromAbove 0.5s;
}

@keyframes viewFromAbove{
  0% {
    transform: translateY(60px);
  }
  100% {
    transform: translateY(0);
  }
}

/* Animated Scroll right */
.animated-scroll-right {
  opacity: 0;
  transition: all 1s;
}

.view-from-right {
  animation: viewFromRight 0.5s;
}
@keyframes viewFromRight {
  0% {
    transform: translateX(-400px);
  }
  100% {
    transform: translateX(0);
  }
}
